
		*{
			margin: 0;
			padding: 0;
			font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
		}

		body{
			background-color: #faf8ef;
		}

		.container{
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin: 20px;
		}

		.main{
			display: flex;
			width: 40%;
			flex-direction: column;
		}

		.header{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 10px;
			border: 1px solid black;
		}

		.upper{
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
		}

		.title_left{
			font-size: 40px;
			color: #776E65;
		}

		.score_container{
			display: flex;
		}

		.score, .best{
			display: flex;
			flex-direction: column;
			background-color: grey;
			padding: 5px;
			border-radius: 4%;
			background-color: #bbada0;
			width: 50px;
		}

		.best{
			margin-right: 10px;
		}

		#scoreText{
			color: #eee4da;
			font-size: 10px;
			text-align: center;
		}

		.lower{
			color: #776E65;
			display: flex;
			justify-content: space-between;
		}

		.game{
			height: 450px;
			display: flex;
			justify-content: space-around;
			align-items: center;
		}

		.grid{
			height: 400px;
			width: 400px;
			box-sizing: border-box;
			border: 6px solid #bbada0;
			border-radius: 1%;
		}

		.row{
			height: 25%;
			box-sizing: border-box;
			display: flex;
		}

		.element{
			height: 100%;
			width: 25%;
			border: 3px solid #bbada0;
			background-color: #cdc1b4;
			font-size: 60px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			box-sizing: border-box;
		}

		.instructions{
			padding: 5px;
			color: #776E65;
			border-bottom: 1px solid #bbada0;
		}

		.footer{
			color: #776E65;
			padding: 5px;
			text-align: center;
		}

		#points, #maximum{
			text-align: center;
			color: white;
		}

		#newGame:hover{
			cursor: pointer;
			color: black;
		}

		.left, .right, .up, .down{ 
			display: none;
		}

		#gameOver{
			z-index: 900;
		    display: none; 
		    position: absolute;
		    background-color: white;
		    opacity: 0.6;
		    height: 400px;
		    width: 400px;
		}

		#gameOver > div{
			margin: auto;
			display: flex;
		    justify-content: space-between;
		    align-items: center;
		    flex-direction: column;
		    margin-top: 145px;
		}

		#gameWon{
		    z-index: 900;
		    display: none; 
		    position: absolute;
		    background-color: white;
		    opacity: 0.6;
		    height: 400px;
		    width: 400px;
		}

		#gameWon > div{
			margin: auto;
			display: flex;
		    justify-content: space-between;
		    align-items: center;
		    flex-direction: column;
		    margin-top: 145px;
		}

		.options{
			display: flex;
		}

		.message{
			font-size: 60px;
		    font-weight: bold;
		    height: 60px;
		    line-height: 60px;
		}

		.reset, .continue{
		    background: #8f7a66;
		    border-radius: 3px;
		    padding: 0 20px;
		    text-decoration: none;
		    color: #f9f6f2;
		    height: 40px;
		    line-height: 42px;
		    margin-left: 9px;
		}

		.reset:hover, .newGame:hover, .continue:hover{
			cursor: pointer;
			color: black;
		}


@media(max-width: 720px)
{
		.left, .right, .up, .down{ 
			display: inline-block;
			padding: 5px;
			border-radius: 60%;
			border: 1px dashed grey;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #776E65;	
		}

		.container{
			margin: 0;
		}

		.main{
			width: 90%;
			height: 420px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}

		.grid{
			height: 200px;
			width: 100%;
			border: 4px solid #bbada0;
		}

		.game{
			height: 200px;
			width: 60%;
		}

		.left, .right{
			height: 150px;
			width: 40px;
		}

		.left > div > div, .right > div > div{
			display: flex;
			justify-content: center;
			font-size: 12px;
		}

		.up, .down{
			height: 50px;
			width: 200px;
			margin: auto;
		}

		.up{
			margin-top: 10px;
		}

		.element{
			font-size: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid #bbada0;
		}

		.game_container{
			display: flex;
			height: 200px;
			align-items: center;
			justify-content: space-between;
		}

		.title_left{
			font-size: 25px;
		}

		.lower > span, .instructions, #newGame{
			font-size: 13px;
		}

		.header{
			padding: 5px;
		}

		.options{
			flex-direction: column;
		}

		#gameWon, #gameOver{
			width: 54%;
		}

		#gameWon > div, #gameOver > div {
			margin-top: 120px;
		}

		.reset, .continue{
			margin-left: 0;
			margin-top: 10px;
		}

		.message{
			font-size: 34px;
		}


}